<% layout('boilerplate') %>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <form action="/payment" method="POST">
                    <script>
                    
                    </script>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h2>Description</h2>    
        </div>
        <div class="col-lg-5">
            <h2>Enrolled Students</h2>
            <div class="panel panel-default">
                
            </div>
        </div>
    </div>
</div>